.grid {
    margin-top: 200px;
    position: absolute;
    width: 560px;
    height: 300px;
    background-color: #e2e2e2;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}
.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(231, 85, 18);
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: blueviolet;
}