.grid{
    margin: auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.square {

    width: 200px;
    height: 200px;
    /* border: solid black 1px; */
    outline: solid black 1px;
    
}


.mole{
    /* background-color: blue; */
    background-image: url("images/mole.png");
    position: relative;
       
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
}
.moleHit{
    background-color: blue;
   
}

